*{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
    cursor: pointer;
  }
  body{
      background:url('words.png') no-repeat;
      background-color: black;
      z-index:-1;
  }
  /* p{
    color:white;
    font-size:20px;
    text-align: center;
    float: initial;
    top:20vh;
    z-index:-1;
  } */

  h2{
    font-size: 50px;
    color:white;
    display:absolute;
    top:0;
    right:0;
    text-align: center;
    z-index:-1;
  }
  div{
    display:inline;
    margin:-50px;
    color:red;
    font-size: 13px;
    user-select: none;
  }
  div:nth-child(2n){
    color:white;
  }
  div:nth-child(3n){
    color:orange;
  }
  div:nth-child(4n){
    color:yellow;
  }
  div:nth-child(5n){
    color:purple;
  }
  div:nth-child(6n){
    color:rgb(185, 22, 123);
  }

  
